# Dart / Flutter
.dart_tool/
.packages
build/
doc/api/
.flutter-plugins
.flutter-plugins-dependencies

# Variáveis de ambiente
.env*

# Android Studio / IntelliJ
.idea/
*.iml

# JavaScript gerado pelo dart2js
*.dart.js
*.info.json
*.js.deps
*.js.map